# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
.env/

# Django static/media
staticfiles/
media/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
